body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #332c61;
}

.container {
  grid-template-columns: auto auto auto auto;
  margin: 30px;
  width: 80vh;
  height: 80vh;
  padding: 20px;
  border-radius: 10%;
  background-color: #fae1f0;
}

.startImage {
  width: 100%;
}

.startButton,
.instructionsButton,
.next {
  position: relative;
  background-color: #db8c31;
  color: white;
  font-family: "Press Start 2P", sans-serif;
  font-size: 24px;
  padding: 20px 40px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  border-radius: 25px;
}

a {
  text-decoration: none;
  color: white;
}

.title {
  font-size: 50px;
  font-style: normal;
  color: #ff66cc;
  font-family: "Press Start 2P", system-ui;
  margin-bottom: 20px;

  text-shadow: 3px 3px 0 #0000ff, 6px 6px 0 #000000;
}

.moleHole {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  background: radial-gradient(circle, black 50%, #000 100%);
  box-shadow: inset 0 15px 10px rgba(109, 105, 105, 0.825);
  border: 2px solid 0 15px 10px rgba(109, 105, 105, 0.825);
  margin-top: 50px;
  overflow: hidden;
}

.mole {
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: -300px;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 0.5s ease;
}

.mole.up {
  bottom: -150px;
}

.moles {
  display: grid;
  grid-template-columns: auto auto;

  justify-content: center;
  column-gap: 100px;
  align-items: center;
  margin-bottom: 100px;
}

.strong {
  display: none;
}

.intro {
  display: none;
}

.Regular {
  display: none;
}

.Evil {
  display: none;
}

.Froozen {
  display: none;
}

.outro {
  display: none;
}

.instruction {
  display: none;
  grid-template-columns: auto auto auto auto;
  margin: 30px;
  width: 80vh;
  height: 80vh;
  padding: 20px;
  border-radius: 10%;
  background-color: #fae1f0;
}

.close {
  background-color: transparent;
  border: none;
  color: #332c61;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  transition: color 0.3s ease;
  align-items: start;
}

/* Optional hover effect */
.close:hover {
  color: #ff6f61;
}

.rules {
  font-family: "Press Start 2P", system-ui;

  font-size: 15px;
  font-style: normal;
  color: #332c61;
}

.strongImage {
  width: 330px;
  height: 330px;
  bottom: -330px;
}

.strongImage.up {
  width: 330px;
  height: 330px;
  bottom: -160px;
}

.froozenImage {
  left: 45%;
  width: 310px;
  height: 310px;
  bottom: -330px;
}
