body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  grid-template-columns: auto auto auto auto;
  margin: 30px;
  width: 80vh;
  height: 80vh;
  padding: 20px;
  border-radius: 10%;
  background-color: #fae1f0;
}

.startImage {
  width: 100%;
}

.startButton {
  margin: 0 auto;
  bottom: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 20px;
}
.title {
  font-size: 50px;

  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: deeppink;
}
